/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 juil. 2017, 13:54:50
    Author     : kbj
*/

@import "constant";
@import "mixins";
@import "nav";

/***********************************
 ********** DOM elements ***********
 ***********************************/
body {
    color:      @color;
    font-size:  1.5em;
}

em {
    .em
}

h1 {
    color:      @color;
    font-size:  1.5em;
}

h2 {
    color:     @color;
    font-size: 1.3em;
}

td {
    text-align: center;
}

th {
    text-align: center;
    .em;
}

/*************************************
 ********** global classes ***********
 *************************************/
.bordered-h1 {
    border-bottom-style:    solid;
    border-bottom-width:    1px;    
    padding-bottom:         10px;
}

.btn-default {
    background-color:   @color-appealing;
    color:              @color-text-appealing;
    font-weight:        bold;
}

.center {
    text-align : center;
}

.hidden {
    display: none;
}

.medium-margin-left {
    margin-left: 20px;
}

.no-decoration {
    .normal-text;
    
    :hover {
        .normal-text;
    }
    
    :visited {
        .normal-text;
    }
}

.row {
    margin-right: 10px;
}

.small-info-error {
    .small-info;
    
    color: @color-info-error;
}

.small-info-ok {
    .small-info;
    
    color: @color-info-ok;
}

.small-margin-top {
    margin-top: 10px !important;
}

.table-hover {
    background-color:   @color-appealing;
    color:              @color-text-appealing;
    font-weight:        bold;
}
