<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Candidature spontanée</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    <table align="center" border="1" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center" bgcolor="#70bbd9" style="padding: 40px 0 30px 0;">
                <img src="img/header.png" alt="Candidature" width="300" style="display: block;" />
            </td>
        </tr>
        <tr>
            <td>%s</td>
        </tr>
        <tr>
            <td>
                Vous trouverez joints à ce mail mon CV et ma lettre de motivation.

                May the force be with you !
                kbj.
            </td>
        </tr>
    </table>
</body>    
</html>